@import "tailwindcss";

.swiper-wrapper {
  align-items: center;
}

.swiper-pagination-bullet {
  background: #cbd5e1;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #3b82f6;
  width: 20px;
  border-radius: 4px;
}
